.erro
{
  font-family: MS Sans Serif; font-size: 10pt; color: red; font-weight: bold; margin-left: 20;  margin : auto;
}
.result_fraco
{
    margin-top : 0;
	background : #056839;
}
.titulo {
	margin-top : 0;
    font-family: arial;
    color: #000000;
    font-weight: bold;
    text-align: rigth;
    font-size: 13pt;
	line-height:2;	
}
.result
{
    font-family: verdana;
    color: Black;
    background : #EFEFEF;
    font-size: 8pt;
}
.inputs_cinza {
  font-family: Verdana;
  font-size:   14;
  border-color: #000000;
  color: Black;
  border-width: 1;
  border-style: solid;
  background-color: #E2E2E2;
  font : bolder;
}
.inputs_azul {
  font-family: Verdana;
  font-size:   14;
  border-color: #000000;
  color: Black;
  border-width: 1;
  border-style: solid;
  background-color: #EAF4FF;
  font : bolder;
}

.result_regulamento
{
    font-family: verdana;
    color: Black;
    font-size: 13px;
}
.result_2
{
    font-family: verdana;
    color: Black;
    background : #FFFFFF;
    font-size: 8pt;
}
.label_preto
 {
  	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle;  FONT-FAMILY: Tahoma; TEXT-DECORATION: none; color: #000000;
 } 
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #FFFFFF; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #FFFFFF; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #FFFFFF; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #FFFFFF; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.tabela{
	background-color:#FFFFFF; 
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color:#000000;
}
