table,td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
  	font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
 
}
table
{
	border                :none;
	border                :1px solid #CCC;
	width: 100%;
}
thead th,
tbody th
{
	background            : #FFF url(th_bck.gif) repeat-x;
  	color                 : #666;  
	padding               : 5px 10px;
  	border-left           : 1px solid #CCC;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
tbody tr td
{
	padding               : 5px 10px;
  	color                 : #666;
}

tfoot td,
tfoot th
{
	border-left           : none;
  	border-top            : 1px solid #CCC;
	padding               : 4px;
  	background            : #FFF url(foot_bck.gif) repeat;
  	color                 : #666;
}
.result_fraco
{
    margin-top : 0;
	background : #056839;
}
.titulo {
	margin-top : 0;
    font-family: arial;
    color: #000000;
    font-weight: bold;
    text-align: rigth;
    font-size: 13pt;
	line-height:2;	
}
.result
{
    font-family: verdana;
    color: Black;
    background : #eeffe0;
    font-size: 13px;
}
.result_2
{
    font-family: verdana;
    color: Black;
    background : #FFFFFF;
    font-size: 8pt;
}
.label_preto
 {
  	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle;  FONT-FAMILY: Tahoma; TEXT-DECORATION: none; color: #000000;
 }
.label_preto_2
 {
  font-family: MS Sans Serif; font-size: 10pt; color: #000000; margin-left: 20;  margin : auto;font-weight: bold;
 }  
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.erro
{
  font-family: MS Sans Serif; font-size: 10pt; color: red; font-weight: bold; margin-left: 20;  margin : auto;
}
.tabela{
	background-color:#FFFFFF; 
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color:#000000;
}
