/*
Theme Name: iDea - Clean & Powerful Bootstrap Theme
Author: HtmlCoder
Author URI: http://www.htmlcoder.me
Author e-mail: htmlcoder.me@gmail.com
Version: 1.4
Created: August 2014
License URI: http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/

ul.parsley-errors-list {
    padding: 0;
}

ul.parsley-errors-list li {
    color: #C00;
    list-style: none;
    font-size: 14px;
}

input.parsley-error {
    border-color: #BE6B6B;
}

.btn-sidebar {
    width: 100%;
    margin-top: 0;
    font-weight: bold;
}
.btn-no-marge {
    margin: 0;
}
.btn-100 {
    width: 100%;
}
.bolao .classificacao .nome {
    max-width: 200px;
}
.margin-bottom {
    margin-bottom: 10px;
}
.form-margin-bottom {
    margin: 0 0 20px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.comparar-partida {
    padding: 10px 0;
}
.placar-comparar {
    font-size: 27px;
    color: #333;
}

/************ Media ************/


/* iphone 5 vertical */

@media (max-width:320px) {
    .header-top-dropdown .dropdown-menu.notificacoes {
        width: 290px!important;
    }
    .main-container {
        padding: 30px 0;
    }
    /*menu*/
    .topo-icone-texto {
        display: none;
    }
    /* campeonato classificacao */
    .campeonato .classificacao .escudo,
    .campeonato .classificacao .j,
    .campeonato .classificacao .e,
    .campeonato .classificacao .d,
    .campeonato .classificacao .gp,
    .campeonato .classificacao .gc,
    .campeonato .classificacao .sg,
    .campeonato .classificacao .aproveitamento {
        display: none;
    }
    /* campeonato partidas */
    .campeonato .partida .time img {
        width: 40px;
    }
    /* bolao classificacao */
    .bolao .classificacao .avatar,
    .bolao .classificacao .ap,
    .bolao .classificacao .gv,
    .bolao .classificacao .sg,
    .bolao .classificacao .gp,
    .bolao .classificacao .av,
    .bolao .classificacao .eg {
        display: none;
    }
    .bolao .classificacao .nome {
        max-width: 108px;
    }
}


/* iphone 5 horizontal */

@media (min-width:481px) and (max-width:568px) {
    /* campeonato classificacao */
    .campeonato .classificacao .gp,
    .campeonato .classificacao .gc,
    .campeonato .classificacao .aproveitamento {
        display: none;
    }
    /* campeonato partidas */
    .campeonato .partida .time img {
        width: 40px;
    }
    /* bolao cabecalho */
    .bolao .titulo {
        padding-left: 0;
    }
    .bolao .titulo h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .bolao .titulo h2 {
        font-size: 14px;
        text-transform: uppercase;
    }
    /* bolao classificacao */
    .bolao .classificacao .ap,
    .bolao .classificacao .gv,
    .bolao .classificacao .sg,
    .bolao .classificacao .gp,
    .bolao .classificacao .av,
    .bolao .classificacao .eg {
        display: none;
    }
}


/* iphone 6 vertical */

@media (min-width:321px) and (max-width:480px) {
    /*menu*/
    .topo-icone-texto {
        display: none;
    }
    /* campeonato classificacao */
    .campeonato .classificacao .escudo,
    .campeonato .classificacao .j,
    .campeonato .classificacao .e,
    .campeonato .classificacao .d,
    .campeonato .classificacao .gp,
    .campeonato .classificacao .gc,
    .campeonato .classificacao .aproveitamento {
        display: none;
    }
    /* bolao cabecalho */
    .bolao .titulo {
        padding-left: 0;
    }
    .bolao .titulo h1 {
        font-size: 22px;
        margin-bottom: 2px;
    }
    .bolao .titulo h2 {
        font-size: 15px;
        text-transform: uppercase;
    }
    /* bolao classificacao */
    .bolao .classificacao .avatar,
    .bolao .classificacao .ap,
    .bolao .classificacao .gv,
    .bolao .classificacao .sg,
    .bolao .classificacao .gp,
    .bolao .classificacao .av,
    .bolao .classificacao .eg {
        display: none;
    }
    .bolao .classificacao .nome {
        max-width: 160px;
    }
    /* bolao partida */
    .bolao .partida img {
        max-width: 30px;
    }
    .bolao .partida .x {
        font-size: 15px!important;
        padding: 10px 5px!important;
    }
    .bolao .partida .palpite {
        padding: 0;
    }
    .bolao .palpite input {
        padding: 15px 0!important;
    }
    .bolao .partida .time {
        padding-top: 5px!important;
    }
    .bolao .partida .mandante {
        padding-right: 5px!important;
    }
    .bolao .partida .mandante span {
        padding: 0!important;
        padding-right: 5px!important;
    }
    .bolao .partida .visitante span {
        padding: 0!important;
        padding-left: 5px!important;
    }
    .bolao .partida .visitante {
        padding-left: 5px!important;
    }
    .bolao .partida .icones {
        padding-top: 7px;
    }
    .bolao .partida .placar {
        padding-top: 7px;
    }
    .bolao .partida .peso,
    .bolao .partida .ponto {
        font-size: 12px;
        text-transform: uppercase;
        color: #999;
        padding-top: 3px;
    }
}


/* iphone 6 horizontal */

@media (min-width:569px) and (max-width:667px) {
    /* campeonato classificacao */
    .campeonato .classificacao .aproveitamento {
        display: none;
    }
    /* campeonato partidas */
    .campeonato .partida .sigla {
        display: none;
    }
    .campeonato .partida .nome {
        display: inline-block;
    }
    /* bolao cabecalho */
    .bolao .titulo {
        padding-left: 0;
    }
    .bolao .titulo h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .bolao .titulo h2 {
        font-size: 14px;
        text-transform: uppercase;
    }
    /* bolao classificacao */
    .bolao .classificacao .ap,
    .bolao .classificacao .gv,
    .bolao .classificacao .sg,
    .bolao .classificacao .gp,
    .bolao .classificacao .av,
    .bolao .classificacao .eg {
        display: none;
    }
}


/* smartphone */

@media (max-width:667px) {
    .main-container {
        margin-top: 0px !important;   
    }
    /*menu*/
    .dropdown>a:before {
        right: 15px;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 100%;
        white-space: normal;
        padding: 10px 10px 10px 25px;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #9d9d9d;
    }
    .dropdown-menu li {
        border-left: 2px solid #DDD;
    }
    .nav {
        margin-top: 10px !important;
    }
    /*topo*/
    .header-top {
        top: 52px;
        position: absolute;
        width: 100%;
    }
    .topo-titulo {
        /*margin-top: 80px;*/
    }
    h1.page-title {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .home h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    /* campeonato cabecalho */
    .campeonato .titulo {
        padding-left: 0;
    }
    .campeonato .titulo h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .campeonato .titulo h2 {
        font-size: 14px;
        text-transform: uppercase;
    }
    /* bolao cabecalho */
    .bolao .titulo {
        padding-left: 0;
    }
    .bolao .titulo h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .bolao .titulo h2 {
        font-size: 14px;
        text-transform: uppercase;
    }
    /* bolao palpite */
    .bolao .partida img {
        max-width: 30px;
    }
    .bolao .partida .x {
        font-size: 15px!important;
        padding: 10px 5px!important;
    }
    .bolao .partida .palpite {
        padding: 0;
    }
    .bolao .palpite input {
        padding: 15px 0!important;
    }
    .bolao .partida .time {
        padding-top: 5px!important;
    }
    .bolao .partida .mandante {
        padding-right: 5px!important;
    }
    .bolao .partida .mandante span {
        padding: 0!important;
        padding-right: 5px!important;
    }
    .bolao .partida .visitante span {
        padding: 0!important;
        padding-left: 5px!important;
    }
    .bolao .partida .visitante {
        padding-left: 5px!important;
    }
    .bolao .partida .placar {
        padding-top: 7px;
    }
    .bolao .partida .peso,
    .bolao .partida .ponto {
        font-size: 12px;
        text-transform: uppercase;
        color: #999;
        padding-top: 3px;
    }
}


/* ipad vertical */

@media (min-width:668px) and (max-width:768px) {
    /* campeonato partidas */
    .bolao .partida .icones i {
        font-size: 1.5em;
        line-height: 0.75em;
        vertical-align: -15%;
    }
}


/* ipad horizontal */

@media (min-width:769px) and (max-width:1024px) {
    /* campeonato partidas */
    .bolao .partida .icones i {
        font-size: 1.5em;
        line-height: 0.75em;
        vertical-align: -15%;
    }
}


/* notes + pc */

@media (min-width:1025px) {
    /* campeonato partidas */
    .campeonato .partida .time {
        font-size: 18px;
    }
    /* campeonato partidas */
    .bolao .partida .time {
        font-size: 18px;
    }
    .bolao .partida .icones i {
        font-size: 1.5em;
        line-height: 0.75em;
        vertical-align: -15%;
    }
    .bolao .partida .placar {
        font-size: 20px;
    }
}


/************  Titulos ************/

.col {
    padding-left: 0;
    padding-right: 0;
}

h1.cor,
h2.cor,
h3.cor {
    color: #0060a0
}

.fa-cor {
    color: #0060a0
}


/************  Lista ************/

.main-navigation .dropdown-menu > li > a.destaque {
    color: #0060a0;
}


/************ LOGIN ************/

.site-slogan {
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.form-nao-logado {
    color: #000;
}

.dark-translucent-bg .form-nao-logado a:not(.btn) {
    color: #0060a0;
}

.dark-translucent-bg .form-nao-logado h2 {
    color: #0060a0;
}

.box-style-3 {
    margin-top: 40px;
}

.box-style-3 h2 {
    margin-bottom: 5px;
}

.form-block {
    width: auto;
}


/************ TOPO NOTIFICACAO ************/

.header-top-dropdown .dropdown-menu.notificacoes {
    padding: 0;
    width: 350px;
    font-size: 12px;
    right: -1px;
}

.header-top-dropdown .dropdown-menu.notificacoes li {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.header-top-dropdown .dropdown-menu.notificacoes li.nao-lida {
    background: #eee;
    border-left: 2px solid #7eb1d4;
}

.header-top-dropdown .dropdown-menu.notificacoes a.ler-notificacao {
    color: #666666;
    text-decoration: none;
    display: block;
}

.header-top-dropdown .dropdown-menu.notificacoes .mensagem a:hover {
    color: #333;
}

.header-top-dropdown .dropdown-menu.notificacoes .acoes ul {
    padding: 0;
    margin: 0;
}

.header-top-dropdown .dropdown-menu.notificacoes .acoes ul li {
    padding: 0 10px 0 0;
    border: 0;
}


/************ TOPO MENU ************/

.header-top-dropdown .dropdown>button.botao-badge {
    padding-right: 30px;
}

.dropdown .badge.topo {
    position: absolute;
    right: 10px;
    top: 9px;
    background: #FF5722;
    color: #FFF;
    border: #FF5722;
}

.dropdown .badge.topo.zero {
    background: #ccc;
    border: #CCC;
}

.dropdown>a.logout {
    padding: 8px 10px;
    margin: 0;
    font-size: 12px;
    color: #999;
    text-align: center;
    min-width: 0;
    background-color: transparent;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: none;
}

.dropdown>a.logout:hover {
    color: #0060a0;
}

.dropdown>a.logout:before {
    content: "";
}

.dropdown .badge, .home .badge {
    background-color: #fafafa;
    color: inherit;
    position: relative;
    border: 1px solid #999;
    right: 0;
    top: -2px;
}

.navbar-default .navbar-nav > li.botao {
    margin-top: -8px;
}

.navbar-default .navbar-nav > li.botao > a {
    padding: 10px 20px;
    background: #0060a0;
    color: #FFF;
}

.navbar-default .navbar-nav > li.botao > a:hover {
    background: #0071bc;
    color: #FFF;
}

.dropdown span.campeonato, .home span.campeonato {
    display: block;
    font-size: 10px;
    color: #BBB;
    text-transform: uppercase;
    padding-top: 3px;
}

.home span.campeonato {
    font-size: 12px;
}


/* Tabela */

table td {
    vertical-align: middle !important;
}


/************ Campeonato Classificacao ************/

.campeonato .classificacao .time {
    width: 60px;
}

.campeonato .classificacao .posicao {
    width: 50px;
    text-align: center;
}


/************ Campeonato Partida ************/

.campeonato .partida
{
    margin-bottom: 20px;
}

.campeonato .partida span.data {
    margin-right: 5px;
    display: block;
}

.campeonato .partida span.hora {
    font-weight: bold;
    margin-right: 5px;
}

.campeonato .partida img {
    vertical-align: middle;
    display: inline-block;
}

.campeonato .partida .resultado {
    padding-left: 0;
    padding-right: 0;
}

.campeonato .partida .placar {
    font-size: 30px;
    min-height: 1px;
    padding: 0;
    font-weight: bold;
}

.campeonato .partida .x {
    text-align: center;
    font-size: 30px;
    color: #CCC;
    text-transform: uppercase;
    min-width: 30px;
    padding: 0;
}

.campeonato .partida .local {
    text-align: center;
    margin-bottom: 10px;
}

.campeonato .partida .mandante {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.campeonato .partida .visitante {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.campeonato .partida .time span {
    padding: 0 10px;
}

.campeonato h2 {
    margin-top: 5px;
}


/* dispositivos com sigla */

@media (max-width:480px) {
    .campeonato .partida .sigla {
        display: inline-block;
    }
    .campeonato .partida .nome {
        display: none;
    }
}


/* dispositivos sem sigla */

@media (min-width:481px) {
    .campeonato .partida .sigla {
        display: none;
    }
    .campeonato .partida .nome {
        display: inline-block;
    }
}


/************ Bolao Cabecalho ************/

.bolao .logo img {
    text-align: center;
    display: inherit;
    width: 100px;
}

.bolao .titulo h1 {
    margin-top: 0;
}

.bolao .titulo h2 {
    margin-top: 0;
    color: #CCC;
}

/************ Campeonato Cabecalho ************/

.campeonato .logo img {
    text-align: center;
    display: inherit;
    width: 100px;
}

.campeonato .titulo h1 {
    margin-top: 0;
}
.campeonato .titulo h2 {
    margin-top: 0;
    color: #CCC;
}

/************ Bolao Home ************/

.posicao-proxima {
    background: #EEE;
    color: #AAA;
}

.posicao-atual {
    border: 2px solid #0060a0;
}

.posicao-atual td {
    border-bottom: 2px solid #0060a0;
    border-top: 2px solid #0060a0!important;
}


/************ Bolao Classificao ************/

.bolao .classificacao .icone {
    color: #6e94ad;
    display: block;
}

.popover-content {
    color: #666;
}

.bolao .classificacao .avatar {
    width: 66px;
}

.bolao .classificacao .avatar img {
    max-width: 36px;
}

.bolao .classificacao .variacao {
    /*background: #fcfcfc!important;*/
    border-right: 1px solid #e8e8e8;
}

.bolao .classificacao .posicao {
    font-weight: bold;
    font-size: 17px;
    width: 41px;
}


/************ Bolao Palpite ************/

.bolao .partida
{
    margin-bottom: 20px;
}

.bolao .partida span.data {
    margin-right: 5px;
    display: block;
}

.bolao .partida span.hora {
    font-weight: bold;
    margin-right: 5px;
}

.bolao .partida img {
    vertical-align: middle;
    display: inline-block;
}

.bolao .partida .resultado {
    padding-left: 0;
    padding-right: 0;
}

.bolao .partida .x {
    text-align: center;
    font-size: 30px;
    color: #CCC;
    text-transform: uppercase;
    min-width: 30px;
    padding: 0;
}

.bolao .partida .local {
    text-align: center;
    margin-bottom: 10px;
}

.bolao .partida .mandante {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.bolao .partida .visitante {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.bolao .partida .time span {
    padding: 0 10px;
}

.bolao h2 {
    margin-top: 5px;
}

.bolao .palpite input {
    text-align: center;
    padding: 0;
    font-size: 22px !important;
    color: #333;
    font-weight: 600;
    height: 45px;
}

.bolao nav.navbar.navbar-default {
    background: transparent;
    border: none;
}

.bolao .partida .detalhes {
    margin-top: 5px;
}

.bolao .divisor {
    padding: 10px 0;
    background: #fafafa;
    margin-bottom: 20px;
    border: 1px solid #f3f3f3;
}

.bolao .partida .icones {
    padding-top: 7px;
}

.bolao .btn-salvar {
    padding: 10px 12px;
}

.bolao .repetir-placar .time {
    padding-top: 8px!important;
}


/* dispositivos com sigla */

@media (max-width:480px) {
    .bolao .partida .sigla {
        display: inline-block;
    }
    .bolao .partida .nome {
        display: none;
    }
}


/* dispositivos sem sigla */

@media (min-width:481px) {
    .bolao .partida .sigla {
        display: none;
    }
    .bolao .partida .nome {
        display: inline-block;
    }
}


/* botao palpite */

#saveButton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 999;
    height: 0;
    overflow: visible;
}

#saveButton .button-container {
    float: right;
    right: -10px;
    padding: 10px 10px 30px 10px;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    bottom: 105px;
    box-shadow: -2px 4px 10px #666;
}

#saveButton .container {
    overflow: visible;
}

.social-links li a.facebook-login {
    width: 150px !important;
    font-weight: bold;
    text-decoration: none;
}
.social-links li a.facebook-login i {
    margin-right: 10px;
}

.form-block .social-links {
    margin: 10px 0 0 0;
}

.entrar {
    margin-right: 10px;
}