
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: Black; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #007cc2; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #007cc2; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #ffa825; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}

.sge {
	border: 1px dashed #99CCFF;
	list-style-type: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	line-height: normal;
	text-transform: none;
}

.cab_tab_azul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	line-height: normal;
	text-transform: none;
	background: #CBD2EF;
	font: normal small-caps bolder;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}

.res_tab_azul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	line-height: normal;
	text-transform: none;
	background: #EFEFEF;
	font-size: 14px;
}

.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	text-align: justify;
}

.texto_cinza 
{

	background: #F4F4F4;
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle;  FONT-FAMILY: Tahoma; TEXT-DECORATION: none; color: #000000;
}

.label_verde
 {
  font-family: MS Sans Serif; font-size: 8pt; color: #008000; font-weight: bold; margin-left: 20;  margin : auto;
 } 
.borda_tabela 
{
	border: 1px dashed #009933;
	list-style-type: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	line-height: normal;
	text-transform: none;
}

.exibir_red    { font-family: MS Sans Serif; font-size: 8pt; color: Red; font-weight: bold; margin-left: 20;  margin : auto;  }

.combo {
	font-family: Tahoma;
	font-size: xx-small;
	border: 1px dashed;
}
.menu
{
 color: #000000; text-decoration: none; font-size: 10px; font-family: Verdana; font-weight: bold
}
.TituloForm    { font-family: tahoma;font-weight: bold;font-size: 12pt; margin-left: 20; margin-right: 20; text-align: center;color: #FFFFFF;  background : #0080C0; }

.menu_11
{
 color: #000000; text-decoration: none; font-size: 11px; font-family: Verdana; font-weight: bold
}
 
.texto_preto
{
 color: #000000; text-decoration: none; font-size: 12px; font-family: Verdana; font-weight: bold
}

.texto_negrito        { color: #000000; text-decoration: none; font-size: 10px; font-family: Verdana; font-weight: bold;  text-align : left;  }

 .cabecalho_pesq {
            font-family: Arial, Helvetica, sans-serif;  
            font-size: 8pt; 
			font-weight: bold;
			color: #000000; 
			text-align: center;
			background : #ABD9FE;
			text-decoration: none;			
	     font-weight: bold
	
  }

.titulo_verde
{
 color: Green; text-decoration: none; font-size: 18px; font-family: Verdana; font-weight: bold
}

.observacao
{
 color: #000000; text-decoration: none; font-size: 9px; font-family: Arial; font-weight: bold
}
.link_azul
{
  color: rgb(51,102,204); text-decoration: none; font-size: 9px; font-family: Verdana; font-weight: bold
}
.link_verde
{
 color: Green; text-decoration: none; font-size: 9px; font-family: Verdana; font-weight: bold
}
.link
 {
  color:  rgb(51,40,150); text-decoration: none; font-size: 11px; font-family: Verdana; font-weight: bold
  }

  .botao {
        font-family: Arial, Helvetica, sans-serif; 
		color: #FFFFFF; 
		font-size: 9pt;
	    font-weight: bold;
		text-align: center;
		background : #8689AC;
  }
  
.link_ini
{
	text-decoration: none;
	color: rgb(51,102,204);
	font-size: 9px;
	font-family: Verdana;
	font-weight: bold
}
.link_amarelo
{
	text-decoration: none;
	color: Yellow;
	font-size: 9px;
	font-family: Verdana;
	font-weight: bold
}
.label_disable
{
  color: Gray; text-decoration: none; font-size: 9px; font-family: Verdana; font-weight: bold
}
.label_azul {
 color:  rgb(51,40,150);
 text-decoration: none;
 font-size: 9px;
 font-family: Verdana;
 font-weight: bold;
 text-align : left;
 }

.texto_azul {
font-family: Verdana;
font-size: 16px;
font-weight: bold;
 background: #F0FFF0;
}

.texto_fundo {
font-family: Verdana;
font-size: 16px;
font-weight: bold;
 background: #E4E4E4;
 text-decoration: none;
}

.consulta_greed
{
  font-family: tahoma;
  font-size: 8 pt;
  text-align: left;
  color: Black;
  vertical-align: top;
 }
 
 .consulta_cinza
{
  font-family: tahoma;
  font-size: 8 pt;
  text-align: left;
  color: Black;
  vertical-align: top;
  background: #EFEFEF;
 }

 .consulta_greed_center
{
  font-family: tahoma;
  font-size: 8 pt;
  text-align: center;
  color: Black;
  vertical-align: top;
 }

.consulta{
  font-family: Arial, Helvetica, sans-serif;
  font-size:8 pt;
  text-align: justify;
  color: #000080;
  vertical-align: top
 }
.hr {
  color: #000080;
  font-size:1pt;
  text-align: center
}
.menu_tabela 
{
        font-family: Arial, Helvetica, sans-serif;
		color: #FFFFFF;
		font-size: 10pt;
	    font-weight: bold;
		background : #333399;
		text-align : center;
  }

.Titulo_esq
 {
  font-family: Arial; font-size: 14pt; margin-left: 20; margin-right: 20; text-align: left;  color : White;
 }

.titulo_cabecalho {
  font-family: tahoma;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  background :  #333399;
  font-size : 10px;
}
.titulo_cabecalho_amarelo
{
        font-family: tahoma;
		color: Yellow;
	    font-weight: bold;
		text-align: center;
		background :  #333399;
		font-size: 14pt;
}

.titulo_azul
{
        font-family: tahoma;
		color: Navy;
	    font-weight: bold;
		text-align: center;
		font-size: 14pt;
}

 .subtitulo_cabecalho {
    font-family: tahoma;
    color: Black;
    font-weight: bold;
    text-align: center;
    background : #F0FFF0;
    font-size: 10pt;
 }
 
  .menu_tabela_verde {
    font-family: tahoma;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background : #2B8081;
    font-size: 10pt;
  }

.titulo_verde {
    font-family: tahoma;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background : #008C01;
    font-size: 10pt;
  }
    
 .result_verde 
   {
      font-family: verdana;
		color: Black;
		background : #DDFFE5;
		font-size: 8pt;
  }

.result_cinza
{
    font-family: verdana;
    color: Black;
    background : #EFEFEF;
    font-size: 8pt;
}
 
  
 .result_verde_borda
   {
      font-family: verdana;
		color: Black;
		background : #F0FFF0 honeydew;
		font-size: 7pt;
  		border-color: #000000;     
      border-width: 1;
      border-style: solid;
  }		  
  
   .result_azul 
   {
        font-family: verdana;
		color: Black;
		background : #EAF4FF;
		font-size: 7pt;		

   }
   
   .result_azul_borda
   {
        font-family: verdana;
		color: Black;
		background : #EAF4FF;
		font-size: 7pt;		
		border-color: #000000;     
        border-width: 1;
        border-style: solid;
   }
  
 .result_bege 
 {
        font-family: verdana;
		color: Black;
		font-size: 7pt;
		background : #F2E3CC;
 }

.inputs {
     font-family: Verdana;
     font-size: 10;
	 border-color: Black;
	 color: Black;
	 border-width: 1;
	 border-style: solid;
	 background-color:#ffffff;
  	 font : bolder;
}

.inputs_cinza {
  font-family: Verdana;
  font-size:   10;
  border-color: #000000;
  color: Black;
  border-width: 1;
  border-style: solid;
  background-color: #E2E2E2;
  font : bolder;
}
.inputs_azul {
  font-family: Verdana;
  font-size:   10;
  border-color: #000000;
  color: Black;
  border-width: 1;
  border-style: solid;
  background-color: #EAF4FF;
  font : bolder;
}

.destaque
 {
        font-family: Arial, Helvetica, sans-serif;
		font-size:10 pt;
  		color: Red;
  		background-color: White;
  		vertical-align: top
		bold
}

.detalhe_pesq {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000080;
	background-color: White;
	border-color: #999999 black;
	border-top-width: thin;
	border-bottom-width: thin;
	text-align: center;
	vertical-align: top;
}

.erro {
  color: #990000;
  font-weight: bold;
  font-family: Tahoma;
  font-size: 14px;
}

.detalhe_erro {
  font-family: Verdana;
  font-size:   10;
  border-color: Red;
  color: Red;
  border-width: 1;
  border-style: solid;
  background-color: #E2E2E2;
  font : bolder;
}

.aviso
{
  font-family: Verdana;
  font-size: 21;
  border-color: Red;
  color: Red;
  border-width: 1;
  border-style: solid;
  background-color: #E2E2E2;
  font : bolder;
}

.link_ini:hover {text-decoration: overline underline; color: Navy;