.erro
{
  font-family: MS Sans Serif; font-size: 10pt; color: red; font-weight: bold; margin-left: 20;  margin : auto;
}
.label_preto_2
 {
  font-family: MS Sans Serif; font-size: 10pt; color: #000000; margin-left: 20;  margin : auto;font-weight: bold;
 }
.result_cinza
{
    font-family: verdana;
    color: Black;
    background : #EFEFEF;
    font-size: 12pt;
}
.texto{
	font-family: verdana;
    color: Black;
    background : #F8F8FF;
    font-size: 12pt;
}
.tabela{
	background-color:#FFFFFF; 
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color:#000000;
}
.result_cinza_forte
{
    font-family: verdana;
    color: Black;
    background : #999999;
    font-size: 8pt;
}
.result_vermelho
{
    font-family: verdana;
    color: white;
    background : #FF6666;
    font-size: 9pt;
	font-weight: bold;
}
.result
{
    font-family: verdana;
    color: #FFFFFF;
    font-size: 10pt;
	font-weight: bold;
}
.result_titulo
{
    font-family: verdana;
    color: #25578b;
    font-size: 12pt;
	font-weight: bold;
}
.result_vermelho_fraco
{
    background : #FFF0F0;
}
.result_azul_fraco
{
    font-family: verdana;
    color: white;
    background : #74D6F5;
    font-size: 12pt;
}
.label_verde
 {
  font-family: MS Sans Serif; font-size: 8pt; color: #008000; font-weight: bold; margin-left: 20;  margin : auto;
 } 
.label_vermelho
 {
  font-family: MS Sans Serif; font-size: 10pt; color: red; font-weight: bold; margin-left: 20;  margin : auto;
 } 
.borda_tabela 
{
	border: 1px dashed #009933;
	list-style-type: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	line-height: normal;
	text-transform: none;
}
.combo {
	font-family: Tahoma;
	font-size: xx-small;
	border: 1px dashed;
}
.label_branco
 {
  font-family: MS Sans Serif; font-size: 8pt; color: #FFFFFF; font-weight: bold; margin-left: 20;  margin : auto;
 } 
 .label_preto
 {
  font-family: MS Sans Serif; font-size: 8pt; color: #000000; margin-left: 20;  margin : auto;
 } 
.label_preto_2
 {
  font-family: MS Sans Serif; font-size: 10pt; color: #000000; margin-left: 20;  margin : auto;font-weight: bold;
 } 


.hr {
  color: #000080;
  font-size:1pt;
  text-align: center
}
.titulo {
    font-family: tahoma;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    background : #999999;
    font-size: 13pt;
  }
  .titulo_fraco {
    font-family: tahoma;
    color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    background : #999999;
    font-size: 13pt;
  }

a.classe1:link {color: white;}
a.classe1:visited {color: white;}
a.classe1:hover {color: white;}
a.classe1:active {color: white;}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #999999;
	height: 22px;
	width: 100px;
	text-align: center;
}	
.cabecalho{
background-image: url(images/body.jpg);
width : 100%;
}
body{
background-image: url(images/body.jpg);
margin-top: 0;
}
.p{
background-color:transparent; 
border-style: solid;
border-bottom-width: 10px;
border-top-width: 10px;
border-right-width: 0px;
border-left-width: 0px;
border-color:#FFFFFF;
}
.r{
background-color:transparent; 
}
.result_azul
{
    font-family: verdana;
    color: #25578b;
    font-size: 12pt;
	font-weight: bold;
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #007cc2; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #007cc2; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #007cc2; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #ffa825; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}